<section class="section section-lg oh">
	<div class="container">
		<!-- Isotope Filters-->
		<div class="isotope-filters isotope-filters-modern">
			<button class="isotope-filters-toggle button button-sm button-primary" data-custom-toggle="#isotope-filters" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
			<ul class="isotope-filters-list" id="isotope-filters">
				<li><a class="active" data-isotope-filter="*" data-isotope-group="portfolio" href="#">All Types</a></li>
			  	<li><a data-isotope-filter="Type Infant" data-isotope-group="portfolio" href="#">Infant/Child</a></li>
				<li><a data-isotope-filter="Type Family" data-isotope-group="portfolio" href="#">Family</a></li>
				<li><a data-isotope-filter="Type Headshot" data-isotope-group="portfolio" href="#">Headshots</a></li>
				<li><a data-isotope-filter="Type Pet" data-isotope-group="portfolio" href="#">Pets</a></li>
				<li><a data-isotope-filter="Type Product" data-isotope-group="portfolio" href="#">Products</a></li>
			</ul>
		</div>
		<div class="isotope isotope-responsive row" data-isotope-layout="masonry" data-isotope-group="portfolio" data-lightgallery="group" data-lg-thumbnail="false">
			{{#each photos}}
				<div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" data-filter="{{photo_type}}">
  <!-- Thumbnail Corporate-->
			      <article class="thumbnail-corporate {{large}} wow slideInDown"><img class="thumbnail-corporate-image" src="images/{{file_name}}" alt="" width="{{photo_width}}" height="{{photo_height}}"/>
			        <div class="thumbnail-corporate-caption">
			          <p class="thumbnail-corporate-title"><a href="#">{{photo_title}}</a></p>
			          <p>{{photo_text}}</p><a class="thumbnail-corporate-link" href="images/{{file_name}}" data-filter="{{photo_type}}" data-lightgallery="item"><span class="icon mdi mdi-magnify"></span><span class="icon mdi mdi-magnify"></span></a>
			        </div>
			        <div class="thumbnail-corporate-dummy"> </div>
			      </article>
			    </div>
			    <br>
			{{/each}}
	</div>
</section>