<section class="section section-lg oh">
	<div class="container">
		<!-- Isotope Filters-->
		<div class="isotope-filters isotope-filters-modern">
			<button class="isotope-filters-toggle button button-sm button-primary" data-custom-toggle="#isotope-filters" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
			<ul class="isotope-filters-list" id="isotope-filters">
				{{!-- <li><a class="active" data-isotope-filter="*" data-isotope-group="portfolio" href="#">All Types</a></li> --}}
			 {{!--  <li><a data-isotope-filter="Type 1" data-isotope-group="portfolio" href="#">Infant/Child</a></li>
				<li><a data-isotope-filter="Type 2" data-isotope-group="portfolio" href="#">Family</a></li> --}}
				{{!-- <li><a data-isotope-filter="Type 3" data-isotope-group="portfolio" href="#">Headshots</a></li> --}}
			</ul>
		</div>
		<div class="isotope isotope-responsive row" data-isotope-layout="masonry" data-isotope-group="portfolio" data-lightgallery="group" data-lg-thumbnail="false">
			{{#each photos}}
				<div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer" data-filter="{{photo_type}}">
  <!-- Thumbnail Corporate-->
			      <article class="thumbnail-corporate {{large}} wow slideInDown"><img class="thumbnail-corporate-image" src="images/{{file_name}}" alt="" width="{{photo_width}}" height="{{photo_height}}"/>
			        <div class="thumbnail-corporate-caption">
			          <p class="thumbnail-corporate-title"><a href="#">{{photo_title}}</a></p>
			          <p>{{photo_text}}</p><a class="thumbnail-corporate-link" href="images/{{file_name}}" data-filter="{{photo_type}}" data-lightgallery="item"><span class="icon mdi mdi-magnify"></span><span class="icon mdi mdi-magnify"></span></a>
			        </div>
			        <div class="thumbnail-corporate-dummy"> </div>
			      </article>
			    </div>
			{{/each}}
			{{!-- <div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer">
				<!-- Thumbnail Corporate-->
				<article class="thumbnail-corporate wow slideInDown"><img class="thumbnail-corporate-image" src="images/gallery-masonry-1-370x256.jpg" alt="" width="370" height="256"/>
					<div class="thumbnail-corporate-caption">
						<p class="thumbnail-corporate-title"><a href="single-project.html">Mary Williams</a></p>
						<p>I offer high-quality photography &amp; retouch services to individual and corporate clients all over the US.</p><a class="thumbnail-corporate-link" href="images/gallery-original-1.jpg" data-lightgallery="item"><span class="icon mdi mdi-magnify"></span><span class="icon mdi mdi-magnify"></span></a>
					</div>
					<div class="thumbnail-corporate-dummy"> </div>
				</article>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer">
				<!-- Thumbnail Corporate-->
				<article class="thumbnail-corporate thumbnail-corporate-lg wow slideInDown"><img class="thumbnail-corporate-image" src="images/gallery-masonry-2-370x464.jpg" alt="" width="370" height="464"/>
					<div class="thumbnail-corporate-caption">
						<p class="thumbnail-corporate-title"><a href="single-project.html">YouthWear</a></p>
						<p>I offer high-quality photography &amp; retouch services to individual and corporate clients all over the US.</p><a class="thumbnail-corporate-link" href="images/gallery-original-2.jpg" data-lightgallery="item"><span class="icon mdi mdi-magnify"></span><span class="icon mdi mdi-magnify"></span></a>
					</div>
					<div class="thumbnail-corporate-dummy"> </div>
				</article>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer">
				<!-- Thumbnail Corporate-->
				<article class="thumbnail-corporate wow slideInUp"><img class="thumbnail-corporate-image" src="images/gallery-masonry-3-370x256.jpg" alt="" width="370" height="256"/>
					<div class="thumbnail-corporate-caption">
						<p class="thumbnail-corporate-title"><a href="single-project.html">Ultra Optix</a></p>
						<p>I offer high-quality photography &amp; retouch services to individual and corporate clients all over the US.</p><a class="thumbnail-corporate-link" href="images/gallery-original-3.jpg" data-lightgallery="item"><span class="icon mdi mdi-magnify"></span><span class="icon mdi mdi-magnify"></span></a>
					</div>
					<div class="thumbnail-corporate-dummy"> </div>
				</article>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer">
				<!-- Thumbnail Corporate-->
				<article class="thumbnail-corporate thumbnail-corporate-lg wow slideInUp"><img class="thumbnail-corporate-image" src="images/gallery-masonry-4-370x464.jpg" alt="" width="370" height="464"/>
					<div class="thumbnail-corporate-caption">
						<p class="thumbnail-corporate-title"><a href="single-project.html">Accessories Inc.</a></p>
						<p>I offer high-quality photography &amp; retouch services to individual and corporate clients all over the US.</p><a class="thumbnail-corporate-link" href="images/gallery-original-4.jpg" data-lightgallery="item"><span class="icon mdi mdi-magnify"></span><span class="icon mdi mdi-magnify"></span></a>
					</div>
					<div class="thumbnail-corporate-dummy"> </div>
				</article>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer">
				<!-- Thumbnail Corporate-->
				<article class="thumbnail-corporate thumbnail-corporate-lg wow slideInDown"><img class="thumbnail-corporate-image" src="images/gallery-masonry-6-370x464.jpg" alt="" width="370" height="464"/>
					<div class="thumbnail-corporate-caption">
						<p class="thumbnail-corporate-title"><a href="single-project.html">Dwayne Winston</a></p>
						<p>I offer high-quality photography &amp; retouch services to individual and corporate clients all over the US.</p><a class="thumbnail-corporate-link" href="images/gallery-original-6.jpg" data-lightgallery="item"><span class="icon mdi mdi-magnify"></span><span class="icon mdi mdi-magnify"></span></a>
					</div>
					<div class="thumbnail-corporate-dummy"> </div>
				</article>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 isotope-item wow-outer">
				<!-- Thumbnail Corporate-->
				<article class="thumbnail-corporate wow slideInDown"><img class="thumbnail-corporate-image" src="images/gallery-masonry-5-370x256.jpg" alt="" width="370" height="256"/>
					<div class="thumbnail-corporate-caption">
						<p class="thumbnail-corporate-title"><a href="single-project.html">Sue Peterson</a></p>
						<p>I offer high-quality photography &amp; retouch services to individual and corporate clients all over the US.</p><a class="thumbnail-corporate-link" href="images/gallery-original-5.jpg" data-lightgallery="item"><span class="icon mdi mdi-magnify"></span><span class="icon mdi mdi-magnify"></span></a>
					</div>
					<div class="thumbnail-corporate-dummy"> </div>
				</article>
			</div>
		</div> --}}
	</div>
</section>