.owl-carousel(
data-items='1'
data-md-items='2'
data-dots='true'
data-nav='false'
data-loop='true'
data-margin='30'
data-stage-padding='0'
data-mouse-drag="false")
	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p I was impressed by the quality of what your specialists did. They quickly found out what was the main problem of my company and helped me to form a correct strategy.
		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-3-96x96')
			.quote-modern-info
				cite.quote-modern-cite Albert Webb
				p.quote-modern-caption CEO at Majestic

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p I appreciate what you’ve done to help my small company develop and thrive in that market niche that we specialize in. Your business consulting experts are the best!
		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-1-96x96')
			.quote-modern-info
				cite.quote-modern-cite Kelly McMillan
				p.quote-modern-caption Private Entrepreneur

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p My cooperation with your team helped me understand that you really care about your clients – it was proved by a lot of positive reviews already – and that's why I chose you.
		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-2-96x96')
			.quote-modern-info
				cite.quote-modern-cite Harold Barnett
				p.quote-modern-caption Regional Manager
