.row.row-50
	.col-sm-6.col-lg-4.wow-outer
		// Post Classic
		article.post-classic.wow.slideInLeft
			a.post-classic-media(href=links.post): +jpg('sidebar-blog-1-370x264')
			ul.post-classic-meta
				li: a.button-winona(href='#') News
				li: time(datetime='2018') Apr 21, 2018 at 12:05 pm

			h4.post-classic-title: a(href=links.post) Top 10 Essential Photography Tips for Beginners

	.col-sm-6.col-lg-4.wow-outer
		// Post Classic
		article.post-classic.wow.slideInLeft(data-wow-delay='.05s')
			a.post-classic-media(href=links.post): +jpg('sidebar-blog-2-370x264')
			ul.post-classic-meta
				li: a.button-winona.text-red(href='#') Innovations
				li: time(datetime='2018') Apr 21, 2018 at 12:05 pm

			h4.post-classic-title: a(href=links.post) Benefits of Using Drones in Aerial Photography

	.col-sm-6.col-lg-4.wow-outer
		// Post Classic
		article.post-classic.wow.slideInLeft(data-wow-delay='.1s')
			a.post-classic-media(href=links.post): +jpg('sidebar-blog-3-370x264')
			ul.post-classic-meta
				li: a.button-winona.text-green(href='#') Tips
				li: time(datetime='2018') Apr 21, 2018 at 12:05 pm

			h4.post-classic-title: a(href=links.post) 5 Ways to Get Great Photos Outside of the Studio
			

