.row.row-50
	.col-sm-6.col-md-4.col-lg-3.wow-outer
		// Post Tiny
		article.post-tiny.wow.fadeSlideInDown
			a.post-tiny-media(href=links.post): +jpg('blog-layouts-1-270x184')
			h5.post-tiny-title: a(href=links.post) Top 10 Essential Photography Tips
			time.post-tiny-time(datetime='2017') 2 days ago

	.col-sm-6.col-md-4.col-lg-3.wow-outer
		// Post Tiny
		article.post-tiny.wow.fadeSlideInDown(data-wow-delay='.05s')
			a.post-tiny-media(href=links.post): +jpg('blog-layouts-2-270x184')
			h5.post-tiny-title: a(href=links.post) 5 Ways to Get Great Photos Outside of the Studio
			time.post-tiny-time(datetime='2017') 2 days ago

	.col-sm-6.col-md-4.col-lg-3.wow-outer
		// Post Tiny
		article.post-tiny.wow.fadeSlideInDown(data-wow-delay='.1s')
			a.post-tiny-media(href=links.post): +jpg('blog-layouts-3-270x184')
			h5.post-tiny-title: a(href=links.post) Best Location Ideas for Your Next Photo Shoot
			time.post-tiny-time(datetime='2017') 2 days ago

	.col-sm-6.col-md-4.col-lg-3.wow-outer
		// Post Tiny
		article.post-tiny.wow.fadeSlideInDown(data-wow-delay='.15s')
			a.post-tiny-media(href=links.post): +jpg('blog-layouts-4-270x184')
			h5.post-tiny-title: a(href=links.post) 12 Advanced Photography Techniques
			time.post-tiny-time(datetime='2017') 2 days ago
