section.section.section-lg.bg-gray-100
	.container
		h3.wow-outer.section-title.text-center: span.wow.slideInUp Testimonials & Video
		.row.row-50.justify-content-center.justify-content-lg-between
			.col-md-10.col-lg-5.wow-outer
				.owl-carousel.wow.slideInLeft(
				data-items='1'
				data-dots='true'
				data-nav='false'
				data-loop='true'
				data-margin='30'
				data-stage-padding='0'
				data-mouse-drag="false")
					blockquote.quote-modern
						span.icon.quote-modern-mark.linearicons-quote-open
						.quote-modern-text
							p Just received my beautiful pictures today and I am in awe of how handsome my son looks in the pictures! Thank you so much for such great memories!  I will recommend you to my friends.
						.quote-modern-meta
							.quote-modern-avatar: +jpg('testimonials-person-3-96x96')
							.quote-modern-info
								cite.quote-modern-cite Kate Webb
								p.quote-modern-caption Regular Client

					blockquote.quote-modern
						span.icon.quote-modern-mark.linearicons-quote-open
						.quote-modern-text
							p I absolutely loved my session and all of the pictures that came from it. You have a clear passion for what you do and it shows through your work! I highly recommend J. Davis for any photography needs!
						.quote-modern-meta
							.quote-modern-avatar: +jpg('testimonials-person-1-96x96')
							.quote-modern-info
								cite.quote-modern-cite Kelly McMillan
								p.quote-modern-caption Regular Client

					blockquote.quote-modern
						span.icon.quote-modern-mark.linearicons-quote-open
						.quote-modern-text
							p I was so happy with the pictures Jonathan took. He was very kind and patient with my two-month old and my energetic 6 y.o. children. I will be going to Jonathan from now on for the best family photos!
						.quote-modern-meta
							.quote-modern-avatar: +jpg('testimonials-person-2-96x96')
							.quote-modern-info
								cite.quote-modern-cite Ann Barnett
								p.quote-modern-caption Regular Client

			.col-md-10.col-lg-6.wow-outer
				.thumbnail-video-1.bg-gray-700.wow.slideInLeft
					.embed-responsive.embed-responsive-16by9: iframe(width='570' height='320' src='//www.youtube.com/embed/QZzbm-FrkGk' allowfullscreen='')
					.thumbnail-video__overlay.video-overlay(style='background-image: url(images/video-preview-1-570x320.jpg)')
						.button-video
						h5 Showreel
